{% extends 'base.html' %}
{% load omfilter %}

{% block content %}

  <div class="row">
      <div class="col-lg">
          <div class="row no-gutters">
              <div class="col-lg-12">

              {% if product.image %}
                  <img class="img-fluid" src="{{product.image.url}}">
                {% endif %}
              </div>
          </div>
      </div>
      <div class="col-lg">
          <div class="mt-4 mt-lg-0">
              <h1 class="h2">{{product.name}}</h1>
              <p class="lead">{{product.description_short}}</p>
              <p class="lead">

                  {% if product.price_marketing_promotion %}
                  <span id="variation-preco-promocional" class="lead product-price">{{product.price_marketing_promotion|format_prices}}</span>
                  <span id="variation-preco"
                      class="lead product-old-price text-muted">{{product.price_marketing|format_prices}}</span>
                  {% else %}
                   <span id="variation-preco" class="lead product-price">{{product.price_marketing|format_prices}}</span>

                  {% endif %}
              </p>


              <form action="{% url 'product:addtocart' %}" id="form-add-to-cart">
                  <div class="form-group">
                    <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                                        {% for variance in product.variance_set.all %}
                                        {% if variance.price_promotion %}
                                        <option data-preco="{{variance.price|format_prices}}" data-preco-promocional="{{variance.price_promotion|format_prices}}" value="{{variance.id}}">
                                        {% if variance.name%}
                                        {{variance.name}}
                                        {% else %}
                                        {{variance}}
                                        {% endif %}
                                         </option>
                                         {% else %}
                                        <option data-preco="{{variance.price|format_prices}}" value="{{variance.id}}">
                                         {% if variance.name%}
                                        {{variance.name}}
                                        {% else %}
                                        {{variance}}
                                        {% endif %}
                                         </option>
                                        {% endif %}
                                       
                                        
                                        {% endfor %}
                                    </select>
                  </div>
                  <div class="text-left">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">
                          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                          Adicionar ao carrinho
                      </button>
                  </div>
              </form>
          </div>
      </div>
  </div>
             <div class="row">
                 <div class="col-lg-12">
                     <div class="mt-5 mb-5">
                         <h2 class="text-center">{{product.name}}</h2>
                       {{product.description_long|linebreaks}} 
                     </div>
                 </div>
             </div>
{% endblock  %}

